<div id="page-wrapper" class="page-wrapper">
  <div class="dcp-page-wrapper">
    <header class="page-header">
      <div class="menu-wrapper">
        {{ page.header }}
        <div class = "buttoncta">
        {% if user_profile_url is not null %}
        
          <div class="profile-name">
            HELLO {{ user_profile_name }}
          </div>
          <div class="profile-dropdown-menu">
            <ul>
              <li><a href="{{ user_profile_url }}">View Profile</a></li>
              <li><a href="{{ path('user.logout') }}">Log Out</a></li>
            </ul>
          </div>
          <div class="register-now logout">
              <a href="{{ path('user.logout') }}">Log Out</a>
          </div>
        {% else %}
          <div class="register-now">
            <a href="{{ path('user.login') }}">Login</a>
          </div>
        {% endif %}
        </div>
      </div>
    </header>
    <section class="page-hero-section">
      {{ page.hero }}
    </section>
    <section class="page-hero-section">
      {{ page.content }}
    </section>
    <footer class="page-footer-section">
      <h2 class="foot1-head">Learn, connect, and Grow</h2>
      <div class="footer-links">#Drupal2023 #Bettertogether #techvibe #Collaborate</div>
      {{ page.footer2 }}
    </footer>
  </div>
</div>
