{%
    set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

<article{{ attributes.addClass(classes) }}>
    {# {{ title_prefix }}
    {{ title_suffix }} #}
    <a href="{{ content.field_link.0['#url'] }}" target="_black">
        <div class="sponsor--logo">{{ content.field_logo }}</div>
    </a>
{#    <div class="sponsor--name">{{ label }}</div>#}
{#    <div class="sponsor--link">{{ content.field_link }}</div>#}
</article>
