{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
<article{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="schedule__session--title">
    <a href={{ url }}>{{ label }}</a>
  </div>
  <div class="schedule__session--author-detail">
    {{ 'By '|t }}{{ node.Owner.field_full_name.value }}
    {% if content.field_co_presenter.0 is not empty %}
      {{ ', ' ~ content.field_co_presenter.0["#account"].field_full_name.value }}
    {% endif %}
  </div>
  <div class="schedule__session--category">
    {{ content.field_session_category_.0["#title"] }}
  </div>
</article>
