{#
/**
 * @file
 * Default theme implementation to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 *
 * @ingroup themeable
 */
#}
<article{{attributes}}>
	{% if content %}
		<div class="user_profile">
			<div class="user_profile__header">
				{{ content.user_picture }}
				{{ content.field_full_name }}
				{{ content.field_designation }}
			</div>
			<div class="user_profile__wrapper">
				<div class="user_profile__links">
					<a href="url" class="active">My Profile</a>
					<a href="url">Sessions Details</a>
				</div>
				<div class="user_profile__title">
					<h2>My Profile
					</h2>
					<a href="{{ url('<current>') }}/edit">edit</a>
				</div>
				<div class="user_profile__content">
					{{ content.field_full_name }}
					<div class="field field--name-email field--label-above">
						<div class="field__label">{% trans %}Email{% endtrans %}</div>
						<div class="field__item">{{ user.mail.value }}</a>
					</div>
				</div>
				{{ content.field_organization }}
				{{ content.field_designation }}
				{{ content.field_drupal_profile_link }}
			</div>
		</div>
	</div>
{% endif %}</article>
